<h1>Job Seeker SignUp</h1>
<form action="/jobSeeker/create" method="POST">
	Your Name: <input 	type = "text" name = "sname"><br>
	Address: <input type = "text" name = "address"><br>
	email: <input type = "email" name = "email"><br>
	Qualifications: <input type = "text" name = "qualif"><br>
	Expected Salary: <input type = "number" name = "sal"><br>
	Experience: <input type = "number" name = "exp"><br>
	<input type = "submit" value = "Submit">
</form>
