 <!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale = 1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title>Job Portal</title>
</head>
<body>
	<nav class = "navbar navbar-inverse">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<a class = "navbar-brand" href = "/">DreamJobs.com</a>
			</div>
			<div>
				<ul class = "nav navbar-nav">
					<li class = "active"><a href="/">Home</a></li>
					<li><a href="/jobSeeker/signup">Job-Seeker Sign Up</a></li>
					<li><a href="/jobs/addJob">Post Jobs</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class = "container">
		<div class = "jumbotron">
			<h1>
				Land up to your dream job by signing up with us
			</h1>
			<p>Around 1000 jobs are posted here on daily basis which leads you to apply for the jobs, that were once your dream. So, sign up with us and land up to your dream job. Dreams are meant to be chased. Let us help you get it.</p>
		</div>
	</div>
	<div class = "container">
		<div class = "row">
			<div class = "col-sm-6" style = "background-color:lightgray;">
				<h2>
					Job-Seekers
				</h2>
				<p>
					Track your competitors by looking at their profiles. <a href="/jobSeeker/listSeeker">Let's go</a>
				</p>
			</div>
			<div class = "col-sm-6" style = "background-color:rosybrown;">
				<h2>
					Job-Providers
				</h2>
				<p>
					Look at your competitors what are they hiring for. <a href="/jobs/listJob">Let's go</a>
				</p>
			</div>
		</div>
	</div>
	<nav class = "navbar navbar-inverse navbar-fixed-bottom">
		<div class  = "container-fluid">
			<div class = "navbar-header">
				<p style="color:deepskyblue"> © 2015 <a href="/">DreamJobs.com</a>. All Rights Are Reserved.</p>
		</div>
		
	</nav>
</html> 